.card {
    border: none;
}

.card:hover {
    transition: 0.5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.link-underline-light {
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
}

.link-underline-light:hover {
    color: red;
}