* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mr-top {
    margin-top: 6px;
}

.navbar {
    border-bottom: 1px solid #ccc;
}

.mg-r {
    margin-right: 50px;
}

.mg-l {
    margin-left: 50px;
}

.footer {
    background-color: #f8f9fa;
    font-size: 0.9rem;
}

.footer p,
.footer a,
a {
    color: black;
}

.footer a:hover {
    color: #ff5733;
    text-decoration: underline;
}

.mg-l {
    margin-left: 15px;
}

.btn-primary {
    height: 37px;
    width: 100px
}

.uppercase-text {
    text-transform: uppercase;
}

.wt {
    width: 200px;
}

.bg-image {
    background-image: url('https://png.pngtree.com/template/20210915/ourmid/pngtree-autumn-and-winter-new-fashion-childrens-clothing-banner-image_609875.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 50px;
}

.red-color {
    background-color: #522c5d;
}

.green-color {
    background-color: #845162;
}

.blue-color {
    background-color: #F1916d;
}

.color {
    width: 60px;
    height: 40px;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.color:hover {
    border-color: #000;
    /* Hiệu ứng khi hover */
}

.size-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.size-table th,
.size-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.size-table thead {
    background-color: #343a40;
    color: white;
}

.size-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.size-table tr:hover {
    background-color: #f1f1f1;
}

.size-table th {
    font-weight: bold;
    text-transform: uppercase;
}